<table style="width: 480px; font-size: 9pt; font-family: Arial, sans-serif; line-height:14px; " cellpadding="0"
       cellspacing="0" class="ng-scope">
    <tbody>
    <tr>
        <td colspan="2" style="width: 480px; padding-bottom:5px; color: #3c3c3b;">
            <span style="font-size: 11pt; font-family: Arial, sans-serif; font-weight: bold; color: #3c3c3b;">Quentin BENARD</span>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="width: 480px; color: #1793d2; padding-bottom:5px">
            <span style="font-family: Arial, sans-serif; font-size: 11pt; color: #1793d2;">Full-Stack Developer</span>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="width: 480px; padding-bottom:2px; border-top:1px dotted; border-top-color:#131313;">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td style="width:120px; vertical-align: middle" valign="middle">
            <a href="https://{{ signature_domain }}"
               target="_blank">
                <img border="0"
                     alt="Logo"
                     width="80"
                     height="88"
                     style="width:80px; height:88px; border:0;"
                     src="https://bitbucket.org/Brioo/briowebapp/raw/25aed8e5ed2fc627ae84675a1e593692168cd6a4/assets/images/cdn/brio-b.png">
            </a>
        </td>
        <td style="width:360px; color: #131313; font-family: Arial, sans-serif; vertical-align: middle" valign="middle">
            <table cellpadding="0" cellspacing="0">
                <tbody>
                <tr>
                    <td style="padding:1px;" class="ng-scope"><span
                                style="font-family: Arial, sans-serif; font-size: 9pt; color: #131313;">{{ signature_phone }}</span>
                    </td>
                </tr>
                <tr></tr>
                <tr>
                    <td style="font-family: Arial, sans-serif; font-size: 9pt; color:#131313; padding:1px;">
                        <span style="font-family: Arial, sans-serif; font-size: 9pt; color: #131313;">{{ signature_mail  }}</span>
                        <span
                                class="ng-scope"> - </span>
                        <a href="http://{{ signature_domain }}" target="_blank"
                           style="font-family: Arial, sans-serif; font-size: 9pt; text-decoration:none;"
                           class="ng-scope">
                            <span style="font-family: Arial, sans-serif; font-size: 9pt; color: #131313;">{{ signature_domain }}</span>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td style="color: #131313; padding:1px;"><span
                                style="font-family: Arial, sans-serif; font-size: 9pt; color:#131313;">{{ signature_address }}</span>
                    </td>
                </tr>
                <tr>
                    <td style="padding-top: 2px; padding-left:1px;">
                            <span style="display:inline-block; height:23px;">
                                <span>
                                    <a href="{{ facebook_link }}" target="_blank">
                                        <img alt="Facebook icon"
                                             border="0" width="23"
                                             height="23"
                                             style="border:0; height:23px; width:23px"
                                             src="https://bitbucket.org/Brioo/briowebapp/raw/25aed8e5ed2fc627ae84675a1e593692168cd6a4/assets/images/cdn/fb.png"></a>
                                </span>
                                <span>
                                    <a href="{{ linkedin_link }}" target="_blank">
                                        <img alt="LinkedIn icon" border="0" width="23" height="23"
                                             style="border:0;
                                              height:23px;
                                               width:23px"
                                             src="https://bitbucket.org/Brioo/briowebapp/raw/25aed8e5ed2fc627ae84675a1e593692168cd6a4/assets/images/cdn/ln.png"></a>
                                </span>
                                <span>
                                    <a href="{{ twitter_link }}" target="_blank">
                                        <img alt="Twitter icon"
                                             border="0"
                                             width="23"
                                             height="23"
                                             style="border:0; height:23px; width:23px"
                                             src="https://bitbucket.org/Brioo/briowebapp/raw/25aed8e5ed2fc627ae84675a1e593692168cd6a4/assets/images/cdn/tt.png">
                                    </a>
                                </span>
                            </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="width: 480px; padding-top:2px; border-bottom:1px dotted; border-bottom-color:#131313;">
            &nbsp;
        </td>
    </tr>
    </tbody>
</table>
