{% extends 'base.html.twig' %}

{% block title %}{{ 'home.title'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{#{% form_theme contactForm 'bootstrap_4_layout.html.twig' %}#}

{% block body %}
    {% include 'sections/about.html.twig' %}
    {% include 'sections/skills.html.twig' %}
    {#{% include 'sections/services.html.twig' %}#}
    {#{% include 'sections/portfolio.html.twig' %}#}
    {#{% include 'sections/team.html.twig' %}#}
    {#{% include 'sections/testimonials.html.twig' %}#}
    {% include 'sections/contact.html.twig' %}
{% endblock %}
