<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">{{ 'home.footer.copyright'|trans|raw }}</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li class="list-inline-item">
                        <a href="{{ twitter_link }}" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="{{ facebook_link }}" target="_blank">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="{{ linkedin_link }}" target="_blank">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li class="list-inline-item">
                        <a href="#">{{ 'home.footer.privacy_policy'|trans }}</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">{{ 'home.footer.terms_of_use'|trans }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
