<!-- Header -->
<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">{{ 'home.header.div_1'|trans }}</div>
            <div class="into-heading-container">
                <span class="intro-heading text-uppercase" id="main-title" data-translation="{{ 'home.header.div_2'|trans }}"></span>
            </div>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#about">{{ 'home.header.div_3'|trans }}</a>
        </div>
    </div>
    <div class="text-left picture-signature">{{ 'home.header.bgpicture_signature'|trans }}</div>
</header>
