<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <img src="{{ asset('images/brio-full.png') }}"
                 alt="{{ 'navigation.img.alt'|trans }}"
                 title="{{ 'navigation.img.title'|trans }}">
        </a>
        <button class="navbar-toggler navbar-toggler-right"
                type="button"
                data-toggle="collapse"
                data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false"
                aria-label="Toggle navigation">
            {{ 'home.navigation.mobile.title'|trans }}
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">{{ 'home.navigation.about'|trans }}</a>
                </li>
                {#<li class="nav-item">#}
                    {#<a class="nav-link js-scroll-trigger" href="#skills">{{ 'home.navigation.skills'|trans }}</a>#}
                {#</li>#}
                {#<li class="nav-item">#}
                    {#<a class="nav-link js-scroll-trigger" href="#services">{{ 'home.navigation.services'|trans }}</a>#}
                {#</li>#}
                {#<li class="nav-item">#}
                    {#<a class="nav-link js-scroll-trigger" href="#portfolio">{{ 'home.navigation.protfolio'|trans }}</a>#}
                {#</li>#}
                {#<li class="nav-item">#}
                    {#<a class="nav-link js-scroll-trigger" href="#team">{{ 'home.navigation.team'|trans }}</a>#}
                {#</li>#}
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contact">{{ 'home.navigation.contact'|trans }}</a>
                </li>
                <li class="nav-item languages-container">
                    <div class="dropdown show">
                        <a class="dropdown-toggle nav-link"
                           href="#"
                           id="languages-toggle"
                           data-toggle="dropdown"
                           aria-haspopup="true"
                           aria-expanded="false">{{ app.request.locale }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="languages-toggle">
{#                            {% for locale in locales|split('|') if locale != app.request.locale %}#}
{#                                <a class="dropdown-item" href="{{ path(route, params|merge({ _locale: locale })) }}">{{ locale|upper }}</a>#}
{#                            {% endfor %}#}

                            {% if locales is defined %}
                                {% for locale in locales|split('|')|filter(locale => locale != app.request.locale)  %}
                                    <a class="dropdown-item" href="{{ path(route, params|merge({ _locale: locale })) }}">{{ locale|upper }}</a>
                                {% endfor %}
                            {% endif %}
                        </div>


                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
