// Styling for the masthead
header.masthead {
  text-align: center;
  color: white;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;

  .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
    .intro-lead-in {
      font-size: 22px;
      font-style: italic;
      line-height: 22px;
      margin-bottom: 25px;
      @include serif-font;
    }
    .intro-heading {
      font-size: 65px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 25px;
      @include heading-font;
    }
  }
  .picture-signature {
    font-family: 'Dancing Script', cursive;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  @media(max-width:991px) {
    .picture-signature {
      display: none;
    }
  }
}
@media(min-width:768px) {
  header.masthead {
    .intro-text {
      padding-top: 300px;
      padding-bottom: 200px;
      .intro-lead-in {
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
        @include serif-font;
      }
      .intro-heading {
        font-size: 65px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
        @include heading-font;
      }
    }
  }
}

header.masthead {
  @media only screen and (max-width: 2560px) and (min-width: 1920px) {
    background-image: url('../images/xl-header-bg.jpg');
  }
  @media only screen and (max-width: 1920px) and (min-width: 1366px) {
    background-image: url('../images/l-header-bg.jpg');
  }
  @media only screen and (max-width: 1366px) and (min-width: 450px) {
    background-image: url('../images/m-header-bg.jpg');
  }
  @media only screen and (max-width: 450px) {
    background-image: url('../images/xs-header-bg.jpg');
  }
}