// Styling for the services section

@mixin skillbar-bg-color($id, $color) {
  #skillbar_#{$id} {
    .skillbar-title {
      span {
        background-color: $color;
      }
    }
    .skillbar-bar {
      background-color: lighten($color, 15%);
    }
  }
}

section#skills {
  background-color: #f2f2f2;
  border-top: 1px solid #e3e3e3;

  .charts-container {

    .row:nth-child(2) {
      margin-top: 20px;
    }
    p {
      color:#525252;
      font-size: 12px;
    }

    .skillbar {
      position:relative;
      display:block;
      margin-bottom: 15px;
      width: 100%;
      background:transparent;
      height: 35px;
      border-radius: 3px;

      .skillbar-title {
        position:absolute;
        top:0;
        z-index: 1;
        width: 120px;
        font-weight:bold;
        font-size: 13px;
        color:#ffffff;

        span {
          display:block;
          padding:0 20px;
          height: 35px;
          line-height: 35px;
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
        }
      }

      .skillbar-title.left {
        left:0;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }

      .skillbar-title.right {
        right: 0;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
      .skillbar-bar {
        height: 35px;
        width:0;
        border-radius: 3px;
        position: relative;
      }
      .skillbar-bar.right {
        float: right;
      }
      .skillbar-percent {
        visibility: hidden;
        position:absolute;
        top:0;
        font-size: 11px;
        height: 35px;
        line-height: 35px;
        color:#ffffff;
        color:rgba(0, 0, 0, 0.4);
      }
      .skillbar-percent.right {
        left: 10px;
      }
      .skillbar-percent.left {
        right: 10px;
      }
    }

    @include skillbar-bg-color(php, #8591bc);
    @include skillbar-bg-color(symfony, #4e831e);
    @include skillbar-bg-color(twig, #bbcd3f);
    @include skillbar-bg-color(doctrine, #ff663b);
    @include skillbar-bg-color(sql, #40799e);
    @include skillbar-bg-color(laravel, #f86161);
    @include skillbar-bg-color(redis, #af2121);
    @include skillbar-bg-color(psr_coding-standards, #1d6e4d);

    @include skillbar-bg-color(js, #f3d95c);
    @include skillbar-bg-color(jquery, #006aa9);
    @include skillbar-bg-color(html, #e74a30);
    @include skillbar-bg-color(css, #1ca4d2);
    @include skillbar-bg-color(sass, #ce6697);
    @include skillbar-bg-color(bootsrap, #8254cf);
    @include skillbar-bg-color(foundation, #264956);
  }


  .owl-carousel {
    .carousel-image-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 190px;

      img.carousel-image {
        max-height: 120px;
        max-width: 180px;
        width: auto;
      }
    }
  }
}


@media screen and (min-width: 1895px) {
  section#skills {
    background-image: url('../images/skills/technology.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom right;
    background-size: 400px auto;
  }
}


@media screen and (max-width: 767px) {
  section#skills {
    .charts-container {
      h3.section-subheading {
        margin-bottom: 45px;
      }
      > .row {
        > .chart-block:nth-child(2) {
          margin-top: 30px;
        }
      }
    }
  }
}
