<!-- About -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">{{ 'home.about.h2'|trans }}</h2>
                <h3 class="section-subheading text-muted">{{ 'home.about.h3'|trans }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li class="wow bounceInRight" data-wow-offset="200">
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="{{ asset('images/about/1.jpg') }}"
                                 alt="{{ 'home.about.timeline_1.img.alt'|trans }}"
                                 title="{{ 'home.about.timeline_1.img.title'|trans }}">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>{{ 'home.about.timeline_1.label_1'|trans|raw }}</h4>
                                <h4 class="subheading">{{ 'home.about.timeline_1.label_2'|trans }}</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">{{ 'home.about.timeline_1.description'|trans }}</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted wow bounceInLeft" data-wow-offset="200">
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="{{ asset('images/about/2.jpg') }}"
                                 alt="{{ 'home.about.timeline_2.img.alt'|trans }}"
                                 title="{{ 'home.about.timeline_2.img.title'|trans }}">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>{{ 'home.about.timeline_2.label_1'|trans|raw }}</h4>
                                <h4 class="subheading">{{ 'home.about.timeline_2.label_2'|trans }}</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">{{ 'home.about.timeline_2.description'|trans|raw }}</p>
                            </div>
                        </div>
                    </li>
                    <li class="wow bounceInRight" data-wow-offset="200">
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="{{ asset('images/about/3.jpg') }}"
                                 alt="{{ 'home.about.timeline_3.img.alt'|trans }}"
                                 title="{{ 'home.about.timeline_3.img.title'|trans }}">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>{{ 'home.about.timeline_3.label_1'|trans|raw }}</h4>
                                <h4 class="subheading">{{ 'home.about.timeline_3.label_2'|trans|raw }}</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">{{ 'home.about.timeline_3.description'|trans|raw }}</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted wow bounceInLeft" data-wow-offset="200">
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="{{ asset('images/about/4.jpg') }}"
                                 alt="{{ 'home.about.timeline_4.img.alt'|trans }}"
                                 title="{{ 'home.about.timeline_4.img.title'|trans }}">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>{{ 'home.about.timeline_4.label_1'|trans|raw }}</h4>
                                <h4 class="subheading">{{ 'home.about.timeline_4.label_2'|trans|raw }}</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">{{ 'home.about.timeline_4.description'|trans|raw }}</p>
                            </div>
                        </div>
                    </li>
                    <li class="wow bounceInRight" data-wow-offset="200">
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid"
                                 src="{{ asset('images/about/3wa.jpg') }}"
                                 alt="{{ 'home.about.timeline_5.img.alt'|trans }}"
                                 title="{{ 'home.about.timeline_5.img.title'|trans }}">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>{{ 'home.about.timeline_5.label_1'|trans|raw }}</h4>
                                <h4 class="subheading">{{ 'home.about.timeline_5.label_2'|trans|raw }}</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">{{ 'home.about.timeline_5.description'|trans|raw }}</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted wow bounceInLeft" data-wow-offset="200">
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid"
                                 src="{{ asset('images/about/lancaster.png') }}"
                                 alt="{{ 'home.about.timeline_6.img.alt'|trans }}"
                                 title="{{ 'home.about.timeline_6.img.title'|trans }}">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>{{ 'home.about.timeline_6.label_1'|trans|raw }}</h4>
                                <h4 class="subheading">{{ 'home.about.timeline_6.label_2'|trans|raw }}</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">{{ 'home.about.timeline_6.description'|trans|raw }}</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted wow pulse" data-wow-offset="200" data-wow-iteration="5">
                        <div id="nextToSkills" class="timeline-image">
                            <h4>{{ 'home.about.timeline_7.description'|trans|raw }}</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
