<!-- Contact -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">{{ 'home.contact.h2'|trans }}</h2>
                <h3 class="section-subheading text-muted">{{ 'home.contact.h3'|trans }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                {{ form_start(contactForm, {attr: {novalidate: 'novalidate'}}) }}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_widget(contactForm.name, {
                                'attr': {
                                    'data-tooltipster': '{"side":"left","animation":"slide"}',
                                    'class': 'tooltip-contact-form'
                                }
                            }) }}
                            {{ form_help(contactForm.name) }}
                            {{ form_errors(contactForm.name) }}
                        </div>
                        <div class="form-group">
                            {{ form_widget(contactForm.email, {
                                'attr': {
                                    'data-tooltipster': '{"side":"left","animation":"slide"}',
                                    'class': 'tooltip-contact-form'
                                }
                            }) }}
                            {{ form_help(contactForm.email) }}
                            {{ form_errors(contactForm.email) }}
                        </div>
                        <div class="form-group">
                            {{ form_widget(contactForm.phone, {
                                'attr': {
                                    'data-tooltipster': '{"side":"left","animation":"slide"}',
                                    'class': 'tooltip-contact-form'
                                }
                            }) }}
                            {{ form_help(contactForm.phone) }}
                            {{ form_errors(contactForm.phone) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_widget(contactForm.message, {
                                'attr': {
                                    'data-tooltipster': '{"side":"top","animation":"slide"}',
                                    'class': 'tooltip-contact-form'
                                }
                            }) }}
                            {{ form_help(contactForm.message) }}
                            {{ form_errors(contactForm.message) }}
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-lg-12 text-center">
                        <div id="success"></div>
                        <button id="sendMessageButton"
                                class="btn btn-primary btn-xl text-uppercase"
                                type="submit">{{ 'home.contact.form.submit_btn.text'|trans }}</button>
                    </div>

                </div>
                {{ form_end(contactForm) }}
            </div>
        </div>
    </div>
</section>
