<!-- Skills -->
<section id="skills">
    <div class="container">
        <div class="row">
            <div class="charts-container col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">{{ 'home.skills.h2'|trans }}</h2>
                <h3 class="section-subheading text-muted">{{ 'home.skills.h3'|trans }}</h3>
                <div class="row">
                    <div id="skills-chart-back" class="chart-block col-xs-12 col-md-6 col-lg-6 text-center">
                        <h4 class="text-right section-subheading text-muted">{{ 'home.skills.h4.backend'|trans }}</h4>
                        <div id="skillbar_php" class="skillbar left clearfix" data-percent="88%" data-color="#8591bc">
                            <div class="skillbar-title right"><span class="php">PHP</span></div>
                            <div class="skillbar-bar right">
                                <div class="skillbar-percent right">88%</div>
                            </div>
                        </div>
                        <div id="skillbar_symfony" class="skillbar left clearfix" data-percent="86%">
                            <div class="skillbar-title right"><span>SYMFONY</span></div>
                            <div class="skillbar-bar right">
                                <div class="skillbar-percent right">86%</div>
                            </div>
                        </div>
                        <div id="skillbar_twig" class="skillbar left clearfix" data-percent="83%">
                            <div class="skillbar-title right"><span>TWIG</span></div>
                            <div class="skillbar-bar right">
                                <div class="skillbar-percent right">83%</div>
                            </div>
                        </div>
                        <div id="skillbar_doctrine" class="skillbar left clearfix" data-percent="80%">
                            <div class="skillbar-title right"><span>DOCTRINE</span></div>
                            <div class="skillbar-bar right">
                                <div class="skillbar-percent right">80%</div>
                            </div>
                        </div>
                        <div id="skillbar_sql" class="skillbar left clearfix" data-percent="77%">
                            <div class="skillbar-title right"><span>SQL</span></div>
                            <div class="skillbar-bar right">
                                <div class="skillbar-percent right">77%</div>
                            </div>
                        </div>
                        <div id="skillbar_laravel" class="skillbar left clearfix" data-percent="69%">
                            <div class="skillbar-title right"><span>LARAVEL</span></div>
                            <div class="skillbar-bar right">
                                <div class="skillbar-percent right">69%</div>
                            </div>
                        </div>
                        <div id="skillbar_redis" class="skillbar left clearfix" data-percent="70%">
                            <div class="skillbar-title right"><span>REDIS</span></div>
                            <div class="skillbar-bar right">
                                <div class="skillbar-percent right">70%</div>
                            </div>
                        </div>
                        <div id="skillbar_psr_coding-standards" class="skillbar left clearfix" data-percent="88%">
                            <div class="skillbar-title right"><span>PSR</span></div>
                            <div class="skillbar-bar right">
                                <div class="skillbar-percent right">88%</div>
                            </div>
                        </div>
                    </div>
                    <div id="skills-chart-front" class="chart-block col-xs-12 col-md-6 col-lg-6 text-center">
                        <h4 class="text-left section-subheading text-muted">{{ 'home.skills.h4.frontend'|trans }}</h4>
                        <div id="skillbar_js" class="skillbar clearfix" data-percent="76%">
                            <div class="skillbar-title left"><span>JS</span></div>
                            <div class="skillbar-bar">
                                <div class="skillbar-percent left">76%</div>
                            </div>
                        </div>
                        <div id="skillbar_jquery" class="skillbar clearfix" data-percent="75%">
                            <div class="skillbar-title left"><span>JQUERY</span></div>
                            <div class="skillbar-bar">
                                <div class="skillbar-percent left">75%</div>
                            </div>
                        </div>
                        <div id="skillbar_html" class="skillbar clearfix" data-percent="74%">
                            <div class="skillbar-title left"><span>HTML</span></div>
                            <div class="skillbar-bar">
                                <div class="skillbar-percent left">74%</div>
                            </div>
                        </div>
                        <div id="skillbar_css" class="skillbar clearfix" data-percent="72%">
                            <div class="skillbar-title left"><span>CSS</span></div>
                            <div class="skillbar-bar">
                                <div class="skillbar-percent left">72%</div>
                            </div>
                        </div>
                        <div id="skillbar_sass" class="skillbar clearfix" data-percent="72%">
                            <div class="skillbar-title left"><span>SASS</span></div>
                            <div class="skillbar-bar">
                                <div class="skillbar-percent left">72%</div>
                            </div>
                        </div>
                        <div id="skillbar_bootsrap" class="skillbar clearfix" data-percent="70%">
                            <div class="skillbar-title left"><span>BOOTSRAP</span></div>
                            <div class="skillbar-bar">
                                <div class="skillbar-percent left">70%</div>
                            </div>
                        </div>
                        <div id="skillbar_foundation" class="skillbar clearfix" data-percent="65%">
                            <div class="skillbar-title left"><span>FOUNDATION</span></div>
                            <div class="skillbar-bar">
                                <div class="skillbar-percent left">65%</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="skills-carousel" class="row margin-top80">
                    <div class="col-xs-12 col-md-12 col-lg-12 text-center">
                        <h4 class="section-subheading text-muted">{{ 'home.skills.h4.miscellaneous'|trans }}</h4>
                        <div class="owl-carousel owl-theme">
                            <div class="carousel-image-container">
                                <img class="carousel-image"
                                     src="{{ asset('images/skills/docker.png') }}"
                                     alt="{{ 'home.skills.carousel.image1.alt'|trans }}"
                                     title="{{ 'home.skills.carousel.image1.title'|trans }}">
                            </div>
                            <div class="carousel-image-container">
                                <img class="carousel-image"
                                     src="{{ asset('images/skills/npm.png') }}"
                                     alt="{{ 'home.skills.carousel.image1.alt'|trans }}"
                                     title="{{ 'home.skills.carousel.image1.title'|trans }}">
                            </div>
                            <div class="carousel-image-container">
                                <img class="carousel-image"
                                     src="{{ asset('images/skills/grunt.png') }}"
                                     alt="{{ 'home.skills.carousel.image1.alt'|trans }}"
                                     title="{{ 'home.skills.carousel.image1.title'|trans }}">
                            </div>
                            <div class="carousel-image-container">
                                <img class="carousel-image"
                                     src="{{ asset('images/skills/git.png') }}"
                                     alt="{{ 'home.skills.carousel.image1.alt'|trans }}"
                                     title="{{ 'home.skills.carousel.image1.title'|trans }}">
                            </div>
                            <div class="carousel-image-container">
                                <img class="carousel-image"
                                     src="{{ asset('images/skills/webpack.png') }}"
                                     alt="{{ 'home.skills.carousel.image1.alt'|trans }}"
                                     title="{{ 'home.skills.carousel.image1.title'|trans }}">
                            </div>
                            <div class="carousel-image-container">
                                <img class="carousel-image"
                                     src="{{ asset('images/skills/yarn.png') }}"
                                     alt="{{ 'home.skills.carousel.image1.alt'|trans }}"
                                     title="{{ 'home.skills.carousel.image1.title'|trans }}">
                            </div>
                            <div class="carousel-image-container">
                                <img class="carousel-image"
                                     src="{{ asset('images/skills/gulp.png') }}"
                                     alt="{{ 'home.skills.carousel.image1.alt'|trans }}"
                                     title="{{ 'home.skills.carousel.image1.title'|trans }}">
                            </div>
                            <div class="carousel-image-container">
                                <img class="carousel-image"
                                     src="{{ asset('images/skills/deployer.png') }}"
                                     alt="{{ 'home.skills.carousel.image1.alt'|trans }}"
                                     title="{{ 'home.skills.carousel.image1.title'|trans }}">
                            </div>
                            <div class="carousel-image-container">
                                <img class="carousel-image"
                                     src="{{ asset('images/skills/jira.png') }}"
                                     alt="{{ 'home.skills.carousel.image1.alt'|trans }}"
                                     title="{{ 'home.skills.carousel.image1.title'|trans }}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
